<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width">
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<section class="centered">
	<br>
	<h1 class="orange" id="title">Statistical Analysis of SAT and ACT Participation by state</h1>
	<br>
	<h1>by: Rajan Davis</h1>
	<div id="pt"></div>
	</section>

	<section class="centered">
	<h1>A Brief introduction</h1>
	</section>

	<section class="centered">
	<br>
	<h1 class="orange">Finding 1:</h1>
	<h2 class="spaced">The majority of States with at least a 50% participation rate for the SAT's are located on the coasts</h2>
	</section>

	<section class="centered">
	<div id="map"></div>
	</section>

	<section class="centered">
	<h1>Finding 2</h1>
	<br>
	</section>

	<section class="centered">
	<div id="act-map"></div>
	</section>

	<section class="centered">
	<h1>Finding 3</h1>
	<br>
	</section>

	<section class="centered">
	<h1>SLIDE 3</h1>
	<br>
	</section>

	<section class="centered">
	<h1>Finding 4</h1>
	<br>
	</section>

	<section class="centered">
	<h1>SLIDE 4</h1>
	<br>
	</section>

	<section class="centered">
	<h1>Finding 5</h1>
	<br>
	</section>

	<section class="centered">
	<h1>SLIDE 5</h1>
	<br>
	</section>

	<section class="centered">
	<h1>Conclusion:</h1>
	<br>
	</section>

	<section class="centered">
	<h1 class="orange">Attribution:</h1>
	<h3>Presentation created with <a href="https://github.com/mbostock/stack">stack.js</a></h3>
	<h3>Charts created with <a href="https://github.com/d3/d3">d3.js</a></h3>
	<h3>Both of these were created by <a href="https://github.com/mbostock">Michael Bostock</a></h3>
	<br>

	</section>

	<section class="centered">
	<h1>Questions?</h1>
	</section>  
</body>
<script src="d3.v3.min.js"></script>
<script src="stack.v1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-legend/1.1.0/d3-legend.js"></script>
<script src="data-viz.js"></script>
<script src="data-viz2.js"></script>
<script>
	// Creates the powerpoint presentation
	var mystack = stack();
</script>