<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<section class="centered">
	<br>
	<h1 class="orange" id="title">Patterns of Participation</h1>
	<h3 class="spaced">Increasing SAT market share through targeted strategies</h3>
	<br>
	<h1 class="orange">by Rajan Davis</h1>
	<div id="pt"></div>
	</section>

	<section class="centered">
	<h1 class="orange">Introduction</h1>
	<br>
	<h5 class="spaced">
		Using SAT and ACT participation data, <a href="https://www.hanoverresearch.com/media/Best-Practices-to-Increase-SAT-Participation-1.pdf">a study on increasing SAT participation</a>, and findings from a <a href="https://www.washingtonpost.com/blogs/answer-sheet/post/how-act-overtook-sat-as-the-top-college-entrance-exam/2012/09/24/d56df11c-0674-11e2-afff-d6c7f20a83bf_blog.html?utm_term=.103ba02bb92d">Washington Post article</a>, we can identify strategies for increasing SAT participation.
	</h5>
	</section>

	<section class="centered">
	<h1 class="orange"><em>However...</em></h1>
	<br>
	<h5 class="spaced">
		More research must be done before providing <i>further</i> actionable policy.
	</h5>
	</section>

	<section class="centered">
	<br>
	<h1 class="orange">Methodology:</h1>
	<ul>
		<li>Reviewed ACT and SAT data sets for rates of participation
		<li>Reviewed <a href="https://www.hanoverresearch.com/media/Best-Practices-to-Increase-SAT-Participation-1.pdf">current available research</a> on how to improve SAT participation</li>
		<li>Reviewed <a href="https://www.washingtonpost.com/blogs/answer-sheet/post/how-act-overtook-sat-as-the-top-college-entrance-exam/2012/09/24/d56df11c-0674-11e2-afff-d6c7f20a83bf_blog.html?utm_term=.103ba02bb92d">an article from the Washington Post</a> regarding trends in SAT and ACT participation</li>
	</ul>
	</section>

	<section class="centered">
	<br>
	<h1 class="orange">Finding 1:</h1>
	<h2 class="spaced">The majority of states with at least a 50% participation rate for the SAT's are located in the East Coast.</h2>
	</section>

	<section class="centered">
	<div id="map"></div>
	</section>

	<section class="centered">
	<h1 class="orange">Finding 2</h1>
	<h2 class="spaced">The majority of states with at least a 50% participation rate for the ACT's are located in the center of the United States.</h2>
	</section>

	<section class="centered">
	<div id="act-map"></div>
	</section>
	
	<section class="centered">
	<h1 class="orange">Why might this be?</h1>
	<br>
	A Recent article from the Washington Post has identified that the ACT has "marketed its exam to many states as a replacement for ... high school exit exams".<br><br> 
	As a result, nine states had 100% participation rates for the ACT in 2014.
	</section>

	<section class="centered">
	<h1 class="orange">Why might this be? <em>(cont'd)</em></h1>
	<br>
	In the same article, the Washington Post identified that the College Board has employed a similar strategy in Maine.
	<br><br>
	The SAT participation rate in Maine is 95%
	</section>

	<section class="centered">
	<h1>Side effects of higher participation: </h1>
	<img class="responsive neg" src="/images/negative_correlations.png">
	<h1 class="orange">lower test scores!</h1>
	</section>

	<section class="centered">
	<h1>Conclusion:</h1>
	<br>
	</section>

	<section class="centered">
	<h1 class="orange">Attribution:</h1>
	<h3>Presentation created with <a href="https://github.com/mbostock/stack">stack.js</a></h3>
	<h3>Charts created with <a href="https://github.com/d3/d3">d3.js</a></h3>
	<h3>Both of these were created by <a href="https://github.com/mbostock">Michael Bostock</a></h3>
	<br>

	</section>

	<section class="centered">
	<h1>Questions?</h1>
	</section>  
</body>
<script src="d3.v3.min.js"></script>
<script src="stack.v1.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3-legend/1.1.0/d3-legend.js"></script>
<script src="data-viz.js"></script>
<script src="data-viz2.js"></script>
<script>
	// Creates the powerpoint presentation
	var mystack = stack();
</script>