<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/main.css">

<body>
  <section class="centered">
    <br>
    <h1 id="title">Statistical Analysis of SAT and ACT Partcipation by state</h1>
    <br>
    <h1>by: Rajan Davis</h1>
  </section>

  <section class="centered">
    <h1>A Brief introduction</h1>
    <br>
  </section>

  <section class="centered">
    <h1>Finding 1</h1>
    <br>
  </section>

  <section class="centered">
    <h1>SLIDE 1</h1>
    <br>
  </section>

  <section class="centered">
    <h1>Finding 2</h1>
    <br>
  </section>

  <section class="centered">
    <h1>SLIDE 2</h1>
    <br>
  </section>

  <section class="centered">
    <h1>Finding 3</h1>
    <br>
  </section>

  <section class="centered">
    <h1>SLIDE 3</h1>
    <br>
  </section>

    <section class="centered">
    <h1>Finding 4</h1>
    <br>
  </section>

  <section class="centered">
    <h1>SLIDE 4</h1>
    <br>
  </section>

    <section class="centered">
    <h1>Finding 5</h1>
    <br>
  </section>

  <section class="centered">
    <h1>SLIDE 5</h1>
    <br>
  </section>

  <section class="centered">
    <h1>Conclusion:</h1>
    <br>
  </section>

  <section class="centered">
    <h1>Questions?</h1>
  </section>  

</div>

<script src="d3.v3.min.js"></script>
<script src="stack.v1.min.js"></script>
<script>
  var mystack = stack()
</script>
